@import './grid.scss';

/* 2-Text */
.text-sans {
    font-family: var(--sans-serif);
}
.text-serif {
    font-family: var(--serif);
}
.fw-normal {
    font-weight: normal;
}
.fw-bold {
    font-weight: bold;
}
.fw-bolder {
    font-weight: bolder;
}
.fw-200 {
    font-weight: 200;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.fw-900 {
    font-weight: 900;
}
.text-poste {
    color: var(--poste);
}
/* #### */

/* 3-img */
.img-contain {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
[class*='media-wrapper'] {
    position: relative;
    height: 0;
    overflow: hidden;
}
[class*='media-wrapper'] > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.media-wrapper-3x2 {
    padding-top: calc(2 / 3 * 100%);
}
@media (min-width: 576px) {
    .media-wrapper-sm-3x2 {
        padding-top: calc(2 / 3 * 100%);
    }
}
@media (min-width: 768px) {
    .media-wrapper-md-3x2 {
        padding-top: calc(2 / 3 * 100%);
    }
}
@media (min-width: 992px) {
    .media-wrapper-lg-3x2 {
        padding-top: calc(2 / 3 * 100%);
    }
}
@media (min-width: 1200px) {
    .media-wrapper-xl-3x2 {
        padding-top: calc(2 / 3 * 100%);
    }
}

.media-wrapper-2x3 {
    padding-top: calc(3 / 2 * 100%);
}
@media (min-width: 576px) {
    .media-wrapper-sm-2x3 {
        padding-top: calc(3 / 2 * 100%);
    }
}
@media (min-width: 768px) {
    .media-wrapper-md-2x3 {
        padding-top: calc(3 / 2 * 100%);
    }
}
@media (min-width: 992px) {
    .media-wrapper-lg-2x3 {
        padding-top: calc(3 / 2 * 100%);
    }
}
@media (min-width: 1200px) {
    .media-wrapper-xl-2x3 {
        padding-top: calc(3 / 2 * 100%);
    }
}

.media-wrapper-4x3 {
    padding-top: 75%;
}
@media (min-width: 576px) {
    .media-wrapper-sm-4x3 {
        padding-top: 75%;
    }
}
@media (min-width: 768px) {
    .media-wrapper-md-4x3 {
        padding-top: 75%;
    }
}
@media (min-width: 992px) {
    .media-wrapper-lg-4x3 {
        padding-top: 75%;
    }
}
@media (min-width: 1200px) {
    .media-wrapper-xl-4x3 {
        padding-top: 75%;
    }
}

.media-wrapper-3x4 {
    padding-top: calc(4 / 3 * 100%);
}
@media (min-width: 576px) {
    .media-wrapper-sm-3x4 {
        padding-top: calc(4 / 3 * 100%);
    }
}
@media (min-width: 768px) {
    .media-wrapper-md-3x4 {
        padding-top: calc(4 / 3 * 100%);
    }
}
@media (min-width: 992px) {
    .media-wrapper-lg-3x4 {
        padding-top: calc(4 / 3 * 100%);
    }
}
@media (min-width: 1200px) {
    .media-wrapper-xl-3x4 {
        padding-top: calc(4 / 3 * 100%);
    }
}

.media-wrapper-16x9 {
    padding-top: calc(9 / 16 * 100%);
}
@media (min-width: 576px) {
    .media-wrapper-sm-16x9 {
        padding-top: calc(9 / 16 * 100%);
    }
}
@media (min-width: 768px) {
    .media-wrapper-md-16x9 {
        padding-top: calc(9 / 16 * 100%);
    }
}
@media (min-width: 992px) {
    .media-wrapper-lg-16x9 {
        padding-top: calc(9 / 16 * 100%);
    }
}
@media (min-width: 1200px) {
    .media-wrapper-xl-16x9 {
        padding-top: calc(9 / 16 * 100%);
    }
}

.media-wrapper-9x16 {
    padding-top: calc(16 / 9 * 100%);
}
@media (min-width: 576px) {
    .media-wrapper-sm-9x16 {
        padding-top: calc(16 / 9 * 100%);
    }
}
@media (min-width: 768px) {
    .media-wrapper-md-9x16 {
        padding-top: calc(16 / 9 * 100%);
    }
}
@media (min-width: 992px) {
    .media-wrapper-lg-9x16 {
        padding-top: calc(16 / 9 * 100%);
    }
}
@media (min-width: 1200px) {
    .media-wrapper-xl-9x16 {
        padding-top: calc(16 / 9 * 100%);
    }
}

.media-wrapper-4x1 {
    padding-top: 25%;
}
@media (min-width: 576px) {
    .media-wrapper-sm-4x1 {
        padding-top: 25%;
    }
}
@media (min-width: 768px) {
    .media-wrapper-md-4x1 {
        padding-top: 25%;
    }
}
@media (min-width: 992px) {
    .media-wrapper-lg-4x1 {
        padding-top: 25%;
    }
}
@media (min-width: 1200px) {
    .media-wrapper-xl-4x1 {
        padding-top: 25%;
    }
}

.media-wrapper-3x1 {
    padding-top: calc(1 / 3 * 100%);
}
@media (min-width: 576px) {
    .media-wrapper-sm-3x1 {
        padding-top: calc(1 / 3 * 100%);
    }
}
@media (min-width: 768px) {
    .media-wrapper-md-3x1 {
        padding-top: calc(1 / 3 * 100%);
    }
}
@media (min-width: 992px) {
    .media-wrapper-lg-3x1 {
        padding-top: calc(1 / 3 * 100%);
    }
}
@media (min-width: 1200px) {
    .media-wrapper-xl-3x1 {
        padding-top: calc(1 / 3 * 100%);
    }
}

.media-wrapper-2x1 {
    padding-top: 50%;
}
@media (min-width: 576px) {
    .media-wrapper-sm-2x1 {
        padding-top: 50%;
    }
}
@media (min-width: 768px) {
    .media-wrapper-md-2x1 {
        padding-top: 50%;
    }
}
@media (min-width: 992px) {
    .media-wrapper-lg-2x1 {
        padding-top: 50%;
    }
}
@media (min-width: 1200px) {
    .media-wrapper-xl-2x1 {
        padding-top: 50%;
    }
}

.media-wrapper-1x2 {
    padding-top: 200%;
}
@media (min-width: 576px) {
    .media-wrapper-sm-1x2 {
        padding-top: 200%;
    }
}
@media (min-width: 768px) {
    .media-wrapper-md-1x2 {
        padding-top: 200%;
    }
}
@media (min-width: 992px) {
    .media-wrapper-lg-1x2 {
        padding-top: 200%;
    }
}
@media (min-width: 1200px) {
    .media-wrapper-xl-1x2 {
        padding-top: 200%;
    }
}

.media-wrapper-1x1 {
    padding-top: 100%;
}
@media (min-width: 576px) {
    .media-wrapper-sm-1x1 {
        padding-top: 100%;
    }
}
@media (min-width: 768px) {
    .media-wrapper-md-1x1 {
        padding-top: 100%;
    }
}
@media (min-width: 992px) {
    .media-wrapper-lg-1x1 {
        padding-top: 100%;
    }
}
@media (min-width: 1200px) {
    .media-wrapper-xl-1x1 {
        padding-top: 100%;
    }
}
/* #### */

/* 4-Shadow-hover */
[class*='shadow'].hover-sm:hover {
    box-shadow: var(--shadow-sm) !important;
}
[class*='shadow'].hover:hover {
    box-shadow: var(--shadow) !important;
}
[class*='shadow'].hover-lg:hover {
    box-shadow: var(--shadow-lg) !important;
}

.no-focus:focus {
    box-shadow: none;
    outline: none;
}
/* #### */

/* 5-Border */
.border-dashed {
    border-top-style: dashed !important;
}
.border-dotted {
    border-top-style: dotted !important;
}
@media (min-width: 576px) {
    .border-sm-0 {
        border: none !important;
    }
    .border-top-sm-0 {
        border-top: none !important;
    }
    .border-left-sm-0 {
        border-left: none !important;
    }
    .border-bottom-sm-0 {
        border-bottom: none !important;
    }
    .border-right-sm-0 {
        border-right: none !important;
    }
}
@media (min-width: 768px) {
    .border-md-0 {
        border: none !important;
    }
    .border-top-md-0 {
        border-top: none !important;
    }
    .border-left-md-0 {
        border-left: none !important;
    }
    .border-bottom-md-0 {
        border-bottom: none !important;
    }
    .border-right-md-0 {
        border-right: none !important;
    }
}
@media (min-width: 992px) {
    .border-lg-0 {
        border: none !important;
    }
    .border-top-lg-0 {
        border-top: none !important;
    }
    .border-left-lg-0 {
        border-left: none !important;
    }
    .border-bottom-lg-0 {
        border-bottom: none !important;
    }
    .border-right-lg-0 {
        border-right: none !important;
    }
}
@media (min-width: 1200px) {
    .border-xl-0 {
        border: none !important;
    }
    .border-top-xl-0 {
        border-top: none !important;
    }
    .border-left-xl-0 {
        border-left: none !important;
    }
    .border-bottom-xl-0 {
        border-bottom: none !important;
    }
    .border-right-xl-0 {
        border-right: none !important;
    }
}

.rounded-xl {
    border-radius: 1rem;
}

.rounded-top-0 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.rounded-bottom-0 {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.rounded-left-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.rounded-right-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
@media (min-width: 576px) {
    .rounded-top-sm-0 {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
    .rounded-bottom-sm-0 {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .rounded-left-sm-0 {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
    .rounded-right-sm-0 {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}
@media (min-width: 768px) {
    .rounded-top-md-0 {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
    .rounded-bottom-md-0 {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .rounded-left-md-0 {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
    .rounded-right-md-0 {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}
@media (min-width: 992px) {
    .rounded-top-lg-0 {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
    .rounded-bottom-lg-0 {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .rounded-left-lg-0 {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
    .rounded-right-lg-0 {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}
@media (min-width: 1200px) {
    .rounded-top-xl-0 {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
    .rounded-bottom-xl-0 {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .rounded-left-xl-0 {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
    .rounded-right-xl-0 {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}
/* #### */

/* 6-Button */
.btn[class*='hover']:hover {
    transform: scale(1.1);
}
.btn.rounded-circle {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 100%;
}
.btn.rounded-circle * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-circle {
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50rem;
}
.btn-circle:hover,
.btn-circle:focus {
    background: rgba(0, 0, 0, 0.05);
}
.btn-circle-logo {
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50rem;
}
.btn-circle-logo:hover,
.btn-circle-logo:focus {
    background: rgba(0, 0, 0, 0.05);
}
/* #### */

/* 7-Position & wrapper */
.flex-center {
    align-items: center;
    justify-content: center;
}
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}
.sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1020;
}
@media (min-width: 576px) {
    .sticky-top-sm {
        position: sticky;
        top: 0;
        z-index: 1020;
    }
    .sticky-bottom-sm {
        position: sticky;
        bottom: 0;
        z-index: 1020;
    }
}
@media (min-width: 768px) {
    .sticky-top-md {
        position: sticky;
        top: 0;
        z-index: 1020;
    }
    .sticky-bottom-md {
        position: sticky;
        bottom: 0;
        z-index: 1020;
    }
}
@media (min-width: 992px) {
    .sticky-top-lg {
        position: sticky;
        top: 0;
        z-index: 1020;
    }
    .sticky-bottom-lg {
        position: sticky;
        bottom: 0;
        z-index: 1020;
    }
}
@media (min-width: 1200px) {
    .sticky-top-xl {
        position: sticky;
        top: 0;
        z-index: 1020;
    }
    .sticky-bottom-xl {
        position: sticky;
        bottom: 0;
        z-index: 1020;
    }
}

.wrapper-absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
@media (min-width: 576px) {
    .wrapper-absolute-sm {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
@media (min-width: 768px) {
    .wrapper-absolute-md {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
@media (min-width: 992px) {
    .wrapper-absolute-lg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
@media (min-width: 1200px) {
    .wrapper-absolute-xl {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.top-0 {
    top: 0;
}
.right-0 {
    right: 0;
}
.bottom-0 {
    bottom: 0;
}
.left-0 {
    left: 0;
}
.top-auo {
    top: auto;
}
.right-auto {
    right: auto;
}
.bottom-auto {
    bottom: auto;
}
.left-auto {
    left: auto;
}
/* #### */

/* 8-Hover */
.hover-scale-sm:hover {
    transform: scale(1.025);
}
.hover-scale:hover {
    transform: scale(1.1);
}
/* #### */

#main-content {
    min-height: calc(100vh - 300px);
}


.vuepress-markdown-body:not(.custom) {
  padding: 0 !important;
}
