<template>
  <nuxt-link
    :to="{ name: 'slug', params: { slug: postItem.slug } }"
    class="post-item"
  >
    <div class="d-grid x12 g-3 rounded">
      <div class="g-col-12 g-col-md-3">
        <div class="media-wrapper-3x2 rounded border border-light">
          <img
            :src="postItem.thumbnail_url"
            :alt="postItem.slug"
            class="img-cover"
          />
        </div>
      </div>
      <div class="g-col-12 g-col-md-9 info-wrapper d-flex flex-column">
        <h2 class="title">{{ postItem.title }}</h2>
        <!--    eslint-disable-next-line-->
        <div class="description" v-html="postDescription"></div>
        <div class="d-flex justify-content-between more-info mt-auto">
          <div class="cate-list">
            <div v-if="postItem.categories.length">
              <span
                v-for="(cateItem, cateIndex) in postItem.categories"
                :key="cateItem.id"
              >
                <nuxt-link
                  :to="{
                    name: 'danh-muc-slug',
                    params: { slug: cateItem.slug },
                  }"
                >
                  {{ cateItem.name }}
                </nuxt-link>
                <span v-if="cateIndex < postItem.categories.length - 1">|</span>
              </span>
            </div>
          </div>
          <span class="published-date d-flex align-items-center">
            <fa-icon :icon="['fas', 'clock']" class="mr-1" />
            <span>
              {{ postItem.published_at }}
            </span>
          </span>
        </div>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    postItem: {
      type: Object,
      default: () => {
        return {}
      },
    },
  },
  computed: {
    postDescription() {
      return this.postItem.description.replace(/<[^>]*>/g, '')
    },
  },
}
</script>

<style lang="scss" scoped>
.post-item {
  text-decoration: none;
  color: var(--dark);

  .info-wrapper {
    @media screen and (min-width: 768px) {
      padding: 0.3rem 0.3rem 0.3rem 0;
    }

    .title {
      font-size: 1.3rem;
    }

    .description {
      color: var(--dark);
      opacity: 0.6;
    }

    .more-info {
      .cate-list {
        overflow-x: auto;
      }

      .published-date {
        opacity: 0.6;
      }
    }
  }

  &:hover {
    text-decoration: none;

    & > div {
      background-color: #d1d1d1;

      [class^='media-wrapper'] {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }
  }
}
</style>
