<template>
  <div>
    <Header />
    <Menu />
    <Search />

    <Nuxt id="main-content" />

    <Footer />
  </div>
</template>

<script>
import Header from '../components/Globals/Header'
import Menu from '../components/Globals/Menu'
import Search from '../components/Globals/Search'
import Footer from '../components/Globals/Footer'

export default {
  components: {
    Header,
    Menu,
    Search,
    Footer,
  },

  created() {
    // this.$ga.page(this.$route.fullPath)
  },
  head: {
    titleTemplate: '%s - GiaLang Coding',
    meta: [
      { charset: 'utf-8' },
      {
        name: 'viewport',
        content: 'width=device-width, initial-scale=1',
      },
      {
        hid: 'description',
        name: 'description',
        content: 'GiaLang Blog - An Simple IT Blog',
      },
      {
        hid: 'keywords',
        name: 'keywords',
        content: 'it,php,laravel,node,javascript,vuejs,reactjs',
      },
    ],
  },
}
</script>

<style>
body {
  background-color: #fffefe;
}
</style>
