<template>
  <div class="container mb-4">
    <h1 class="title">{{ postItem.title }}</h1>

    <div class="meta">
      <div class="cate-list">
        <div v-if="postItem.categories.length">
          <span
            v-for="(cateItem, cateIndex) in postItem.categories"
            :key="cateItem.id"
          >
            <nuxt-link
              :to="{
                name: 'danh-muc-slug',
                params: { slug: cateItem.slug },
              }"
            >
              {{ cateItem.name }}
            </nuxt-link>
            <span v-if="cateIndex < postItem.categories.length - 1">|</span>
          </span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <fa-icon :icon="['fas', 'clock']" class="mr-1" />
        <span>{{ postItem.published_at }}</span>
      </div>
    </div>

    <div class="thumbnail-area text-center my-3">
      <div class="media">
        <div class="media-wrapper-3x2 rounded border border-light w-100">
          <img
            :alt="postItem.slug"
            :src="postItem.thumbnail_url"
            class="img-cover"
          />
        </div>
      </div>
    </div>

    <div class="description mb-4 p-3 rounded">{{ postItem.description }}</div>

    <!--    eslint-disable-next-line-->
    <v-md-preview :class="['px-0']" :text="postItem.content"></v-md-preview>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  async fetch({ store, params }) {
    await store.dispatch('posts/getPostItem', {
      slug: params.slug,
    })
  },
  computed: {
    ...mapState({
      postItem: (state) => state.posts.postItem,
    }),
  },
  head() {
    return {
      title: this.postItem ? this.postItem.title : 'Bài viết',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.postItem.description.replace(/<[^>]*>?/gm, ''),
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: `${this.postItem.slug},IT`,
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.title {
  font-size: 1.6rem;
  text-align: center;
}

.description {
  background-color: #f3f3f3;
}

.meta {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 0.5rem;
}

.thumbnail-area {
  .media {
    width: 600px;
    max-width: 100%;
    position: relative;
    margin: auto;
  }
}
</style>
