<template>
  <div class="container">
    <div class="mb-3">
      <div
        v-for="postItem in items"
        :key="postItem.id"
        class="post-item-wrapper"
      >
        <PostItem :post-item="postItem" />
      </div>
    </div>

    <div
      v-if="
        postListData.meta.last_page > 1 &&
        postListData.meta.last_page > currentPage
      "
      class="text-center"
    >
      <button
        class="btn btn-outline-secondary"
        @click="clickPagination(currentPage + 1)"
      >
        Xem Thêm
      </button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import PostItem from '../components/Index/PostItem'

export default {
  components: {
    PostItem,
  },
  async fetch({ store }) {
    await store.dispatch('posts/getPostList')
  },
  computed: {
    ...mapState({
      postListData: (state) => state.posts.postList,
    }),

    items() {
      return this.postListData && this.postListData.data.length
        ? this.postListData.data
        : []
    },

    perPage() {
      return this.postListData ? this.postListData.meta.per_page : 0
    },

    currentPage() {
      return this.postListData ? this.postListData.meta.current_page : 1
    },

    rows() {
      return this.postListData.meta.total
    },
  },
  methods: {
    async clickPagination(currentPage) {
      await this.$store.dispatch('posts/getPostList', {
        params: {
          page: currentPage,
        },
        loadMore: true,
      })
    },
  },
  head: {
    title: 'Trang chủ',
  },
}
</script>

<style lang="scss" scoped>
.post-item-wrapper {
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}
</style>
