<template>
  <footer class="bg-secondary text-white py-4">
    <div class="container text-center">
      <h2>
        <nuxt-link :to="{ name: 'index' }">GiaLang Coding</nuxt-link>
      </h2>
      <p class="mb-0">
        <nuxt-link :to="{ name: 'gioi-thieu' }">About me</nuxt-link>
      </p>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
footer {
  a {
    color: white;

    &:hover {
      color: #d2d2d2;
    }
  }
}
</style>
