<template>
  <div id="primary-menu" class="container">
    <b-list-group horizontal>
      <b-list-group-item
        v-for="(menuItem, menuIndex) in menuItems"
        :key="menuIndex"
        :to="{
          name: 'danh-muc-slug',
          params: { slug: menuItem.slug },
        }"
      >
        {{ menuItem.name }}
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      menuItems: (state) => state.categories.cateList,
    }),
  },
}
</script>

<style scoped lang="scss">
#primary-menu {
  .list-group {
    justify-content: center;
    overflow-x: auto;
    background-color: var(--secondary);

    .list-group-item {
      border: none;
      background-color: var(--secondary);
      color: white;
      border-radius: 0 !important;
      text-align: center;
      width: auto;
      white-space: nowrap;

      //hover
      &:hover,
      &.active {
        background-color: #494949;
      }
    }
  }
}
</style>
