<template>
  <div class="mb-4 container">
    <b-input-group class="mt-3">
      <b-form-input
        v-model="searchKeyword"
        placeholder="Searching..."
      ></b-form-input>
      <b-input-group-append>
        <b-button variant="outline-secondary" @click="goToSearch">
          <fa-icon :icon="['fas', 'search']" />
        </b-button>
      </b-input-group-append>
    </b-input-group>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchKeyword: '',
    }
  },
  methods: {
    goToSearch() {
      if (this.searchKeyword.length) {
        this.$router.push({
          name: 'tim-kiem',
          query: {
            keyword: this.searchKeyword,
          },
        })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
input {
  border-right: none;
}

button {
  border: 1px solid #ced4da;
  border-left: none;
  background-color: #fff;
}
</style>
